*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
.container{
    background-color: gray;
}
.container__header{
    background-image: url(bosque.jpg);
    background-size: cover;
    height: 100vh;
    color: black;
}
.container__header--nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin: auto 10%;
}
.logo{
    height: 7rem;
    border: .3rem solid black;
    border-radius: 50%;
}
.nav ul{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    list-style: none;
}
.nav ul a{
     margin: .8rem;
     padding: .8rem;
     text-decoration: none;
     color: black;
}
.nav ul a:hover{
    background-color: cornflowerblue;
}
.container__header--banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.container__header--banner h1{
    font-size: 4rem;
    font-weight: bold;
}
.container__header--banner p{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 3rem;
}
.social{
    margin-top: 1.5rem;
    height: .6rem;
}
.social span{
    margin: .5rem;
}
.container__main{
    background-color: #0b0c0f;
    height: 100vh;
    padding: 10% auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__main h1{
      font-size: 4rem;
      font-weight: bold;
}
.container__main p{
        margin-top: 2rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 300;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}
figure{
    font-size: 2rem;
    text-align: center;
}
figure img{
    height: 30rem;
}
.container__footer{
    background-color: #0b0c0f;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.social__footer h1{
        font-size: 5rem;
        font-weight: bold;
}
.social__footer p{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.social__footer span{
    margin: .5rem;
}
hr{
    width: 10%;
    border: .2rem solid #00a9e2;
}